html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    padding: 0;
    background: #FFF0E8;
    @font-face {
        font-family: "Snap ITC";
        src: url("./fonts/snap itc.ttf") format("ttf"),
       }
    overflow: hidden;
}

/* Loader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF0E8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
}
.loader-wrapper span {
    margin-top: 2%;
    font-family: "Snap ITC";
    color: #8C5F41;
    font-size: 36px;
}
.loader {
    display: inline-block;
    height: 120px;
    animation: loader 1s infinite ease;
}
@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}